<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Prediction of Flower</h1>
    <form action="prediction" method="post">
        <label for="input vector">Enter Sepal length(SL):</label><br>
        <input type="number"  name="SL"><br><br>
        <label for="input vector">Enter Sepal width(SW):</label><br>
        <input type="number"  name="SW"><br><br>
        <label for="input vector">Enter Petal length(PL):</label><br>
        <input type="number"  name="PL"><br><br>
        <label for="input vector">Enter Petal width(PW):</label><br>
        <input type="number"  name="PW"><br><br>
        <input type="submit">
    </form>

    
</body>
</html>